.accordion-container {
  max-width: 37.5rem;
  margin: 0 auto;
  list-style: none;
  padding: 0 1.1rem;
}

.accordion-item {
  list-style: none;
  margin-bottom: 0rem;
}

.accordion-button {
  width: 100%;
  padding: 0.625rem 0;
  background: #f8fbf2;
  text-align: left;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: solid;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: var(--font-family-heading);
  font-weight: 500;
  color: #0000ff;
  transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.accordion-button:hover {
  background: #f8fbf2;
  transform: scale(1.02);
  color: #dc2222;
}

.accordion-button.active {
  transform: scale(1.01);
}

.accordion-panel {
  max-height: 0;
  opacity: 0;
  padding: 0 1.25rem;
  margin: 0;
  background: #f8fbf2;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out,
    padding 0.4s ease-out;
}

.accordion-panel.active {
  max-height: 50rem;
  opacity: 1;
  padding: 1.25rem;
}

.sidebar-about {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  background: #f8fbf2;
  text-align: left;
  border-bottom: solid;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: var(--font-family-heading);
  font-weight: 500;
  color: #0000ff;
  transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.sidebar-about:hover {
  background: #f8fbf2;
  transform: scale(1.02);
  color: #dc2222;
}
.sidebar-about.active {
  transform: scale(1.01);
}
